:root {
    --main-width: 1000px;
}

body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    /* flex-wrap: wrap; */
}
