:root {
    --main-width: 900px;
}

body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
