:root {
    --main-width: 1000px;
    --main-color: #154ddc;
    --secondary-color: #ccc;
}

body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../../img/background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
