:root {
    --main-width: 1000px;
    --main-color: #154ddc;
    --secondary-color: #ccc;
}

body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../../img/hero.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    background-color: #4b139e5d;
}
