.main-content {
    width: var(--main-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content > .hero {
    width: 40%;
    position: relative;
    height: calc(0.4 * 1.4384 * var(--main-width));
    background-color: #0242A5;
    background-image: url(../../img/hero.png);
    background-size: cover;
    background-position: center;
}
.main-content .right-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 50px;
}

.right-column > .nav {
    display: flex;
    justify-content: flex-end;
}

.right-column .form {
    font-size: 18px;
    padding: 0px 5em;
    padding-bottom: 3em;
}
.right-column .row {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

@media (max-width: 1000px) {
    .main-content .right-column {
        max-width: 600px;
        width: 80%;
    }

    .main-content > .hero,
    .main-content .description {
        display: none;
    }
}
