.main-content {
    width: var(--main-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content > .hero {
    width: 40%;
    position: relative;
    height: calc(0.4 * 1.4384 * var(--main-width));
    background-color: #0242a5;
    background-image: url(../../img/hero.png);
    background-size: cover;
    background-position: center;
}
.main-content .right-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 50px;
}

.right-column > .nav {
    display: flex;
    justify-content: flex-end;
}

.right-column .form {
    font-size: 18px;
    padding: 0px 5em;
    padding-bottom: 3em;
}
.right-column .row {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.8em;
}

@media (max-width: 1000px) {
    .main-content .right-column,
    .main-content .hero {
        max-width: 600px;
        width: 80%;
    }
    .main-content .hero {
        height: 200px;
        background-size: cover;
        background-position: bottom center;
    }
    .main-content {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .main-content .right-column,
    .main-content .hero {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .right-column .form {
        padding: 0px 2.5em;
        padding-bottom: 2.5em;
        font-size: 15px;
    }
    .right-column .row {
        padding-bottom: 1em;
    }

    .right-column .row.special {
        padding: 1em 0;
        font-size: 15px;
    }
    .right-column .form .btn {
        padding: 0.5em 2em;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .main-content {
        justify-content: flex-start;
    }
    .main-content .right-column,
    .main-content .hero {
        width: 100%;
    }
    /* .main-content .right-column {
        height: 80vh;
        justify-content: initial;
    } */
}
