body::before {
    content: "";
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url("../../img/background.png");
    background-size: cover;
}
.main-content {
    width: var(--main-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: yellow;
}

.main-content > .hero {
    width: calc(var(--main-width) * 0.4);
}
.main-content .right-column {
    width: calc(var(--main-width) * 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.right-column > .nav {
    display: flex;
    justify-content: flex-end;
}

.right-column .form {
    font-size: 20px;
    padding: 0px 3em;
    padding-bottom: 3em;
}
.right-column .row {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}

.right-column .form,
.right-column {
    background-color: #fff;
}

@media (max-width: 900px) {
    .main-content {
        width: 80%;
    }
    .main-content > .hero,
    .main-content .description {
        display: none;
    }
    .main-content > .hero {
        width: 100%;
    }
}
