
.form {
    background-color: #fff;
}

.description {
    color: #fff;
}
.main-title {
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 50px;
}
.link {
    color: #fff8;
    font-weight: bold;
}
